[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"

[packages]
toml = "*"
SQLAlchemy = "*"

[requires]
python_version = "3.7"
